
* {
	font-family: Helvetica;
}
body { 
	margin:0; 
	padding:0; 
/*	background: url('../img/bg_mountain_view.jpg');
	background-size: cover;*/
}

#container {
	height: 500px;
}

#forClone {
	display: none;
}

.elemCity {
	position: absolute;
	bottom: 20px;
	left: 5px;
	font-size: 0.8em;
	color: white;
	font-weight: 500;
	background: rgba(0,0,0,0.5);
	display: inline;
}

.elemHits {
	position: absolute;
	bottom: -10px;
	left: 5px;
	color: white;
	font-weight: 200;
	background: rgba(0,0,0,0.5);
	display: inline;
}

.elemBytes {
}